<div class="w-full flex flex-auto transition duration-300 ease-in-out delay-50 bg-my-custom-light dark:bg-my-custom-dark text-my-custom-dark dark:text-my-custom-light">
    <div class="flex w-1/6 justify-center">
      <a routerLink="/home">
        <div class="
          xl:p-2
          lg:p-1.5
          md:p-1
          sm:p-0.5
          max-[640px]:p-0.5
          max-[400px]:p-0.5
          max-[300px]:p-0.5">
          <img src="assets/01candanedo.png" alt="Personal logo" class="rounded-full h-12 w-12
          xl:h-16 xl:w-16 xl:-mt-1
          lg:h-14 lg:w-14 lg: mt-0.5
          md:h-12 md:w-12
          sm:h-11 sm:w-11
          max-[640px]:h-10 max-[640px]:w-10
          max-[400px]:h-8 max-[400px]:w-8
          max-[300px]:h-6 max-[300px]:w-6">
        </div>
      </a>
    </div>
    <div class="flex w-5/6 font-medium text-my-custom-dark dark:text-my-custom-light">
      <nav class="m-auto
      xl:px-6 xl:text-base xl:space-x-24 xl:flex lg:items-center
      lg:px-5 lg:text-sm lg:space-x-20
      md:px-4 md:text-xs md:space-x-16
      sm:px-1 sm:text-xs sm:space-x-8
      max-[640px]:px-0 max-[640px]:text-[11px] max-[640px]:space-x-4
      max-[400px]:px-0 max-[400px]:text-[10px] max-[400px]:space-x-2
      max-[300px]:px-0 max-[300px]:text-[8px] max-[300px]:space-x-2" aria-label="Global">
         @for (item of Links; track $index) {
          <a [routerLink]="item.route" [fragment]="item.name" class="
          transition duration-300 ease-in-out delay-50
         hover:bg-my-custom-dark rounded-full
         hover:text-my-custom-light
         dark:hover:bg-my-custom-light dark:rounded-full
         dark:hover:text-my-custom-dark
         xl:p-2
         lg:p-2
         md:p-1.5
         sm:p-1.5
         max-[640px]:p-1
         max-[400px]:p-1
         max-[300px]:p-1">{{item.name}}</a>
         }
      </nav>
    </div>
</div>
