<section class="transition duration-300 ease-in-out delay-50 bg-my-custom-light text-my-custom-dark dark:bg-my-custom-dark dark:text-my-custom-light
xl:h-[600px]
lg:h-[550px]
md:h-[500px]
sm:h-[450px]
max-[640px]:h-[400px]
max-[400px]:h-[400px]
max-[300px]:h-[400px]">
  <div class="title font-extrabold p-2
      xl:mx-28 xl:text-5xl
      lg:mx-24 lg:text-4xl
      md:mx-20 md:text-3xl
      sm:mx-16 sm:text-2xl
      max-[640px]:mx-14 max-[640px]:text-xl
      max-[400px]:mx-12 max-[400px]:text-lg
      max-[300px]:mx-11 max-[300px]:text-base">Contact Us</div>
  <div class="flex justify-center items-center mt-8">
    <div class="transition duration-300 ease-in-out delay-50 bg-my-custom-dark text-my-custom-light dark:bg-my-custom-light dark:text-my-custom-dark rounded-2xl shadow-xl
      xl:max-w-3xl xl:p-8
      lg:max-w-2xl lg:p-7
      md:max-w-xl md:p-6
      sm:max-w-lg sm:p-5
      max-[640px]:max-w-md max-[640px]:p-4 max-[640px]:mx-4
      max-[400px]:max-w-sm max-[400px]:p-3 max-[400px]:mx-4
      max-[300px]:max-w-xs max-[300px]:p-2 max-[300px]:mx-4">
      <p class="font-bold text-center mb-6
      xl:text-xl xl:
      lg:text-lg lg:
      md:text-md md:
      sm:text-sm sm:
      max-[640px]:text-xs max-[640px]:
      max-[400px]:text-[11px] max-[400px]:
      max-[300px]:text-[10px] max-[300px]:">¡Get in Touch!</p>
      <div class="flex flex-row items-center justify-center">
        <div class="flex-1 lg:
          xl:text-md xl:mr-8
          lg:text-sm lg:mr-7
          md:text-xs md:mr-6
          sm:text-[11px] sm:mr-5
          max-[640px]:text-[10px] max-[640px]:mr-4
          max-[400px]:text-[9px] max-[400px]:mr-3
          max-[300px]:text-[8px] max-[300px]:mr-2">
          <form (ngSubmit)="sendMail()" [formGroup] = "contactForm" class="
              xl:space-y-4
              lg:space-y-3
              md:space-y-2.5
              sm:space-y-2
              max-[640px]:space-y-1.5
              max-[400px]:space-y-1
              max-[300px]:space-y-0.5">
            <div class="flex flex-col">
              <label for="name" class="font-semibold">Name:</label>
              <input type="text" id="name" name="name" formControlName="name" class="text-my-custom-dark border rounded-lg focus:outline-none focus:ring focus:border-blue-300
              xl:py-2 xl:px-3
              lg:py-1.5 lg:px-2.5
              md:py-1 md:px-2
              sm:py-0.5 sm:px-1.5
              max-[640px]:py-0 max-[640px]:px-0
              max-[400px]:py-0 max-[400px]:px-0
              max-[300px]:py-0 max-[300px]:px-0">
            </div>
            <div class="flex flex-col">
              <label for="email" class="font-semibold">Email:</label>
              <input type="email" id="email" name="email" formControlName="email" class="text-my-custom-dark border rounded-lg focus:outline-none focus:ring focus:border-blue-300
              xl:py-2 xl:px-3
              lg:py-1.5 lg:px-2.5
              md:py-1 md:px-2
              sm:py-0.5 sm:px-1.5
              max-[640px]:py-0 max-[640px]:px-0
              max-[400px]:py-0 max-[400px]:px-0
              max-[300px]:py-0 max-[300px]:px-0">
            </div>
            <div class="flex flex-col">
              <label for="message" class="font-semibold">Message:</label>
              <textarea id="message" name="message" formControlName="message" rows="5" class="text-my-custom-dark border rounded-lg focus:outline-none focus:ring focus:border-blue-300 xl:py-2 xl:px-3
              lg:py-1.5 lg:px-2.5
              md:py-1 md:px-2
              sm:py-0.5 sm:px-1.5
              max-[640px]:py-0 max-[640px]:px-0
              max-[400px]:py-0 max-[400px]:px-0
              max-[300px]:py-0 max-[300px]:px-0"></textarea>
            </div>
            <p-toast key="register sucess"></p-toast>
            <p-toast key="register error"></p-toast>
            @if (contactForm.invalid || !loadingmailer) {
              <div class="card flex flex-row">
                <button pButton pRipple label="Send message" type="submit" [disabled]="contactForm.invalid" icon="pi pi-user" class="inline-block text-my-custom-dark bg-gray-400 mt-3 rounded-md
                xl:py-3 xl:px-4 xl:text-base
                lg:py-2.5 lg:px-3.5 lg:text-sm
                md:py-2 md:px-3 md:text-xs
                sm:py-1.5 sm:px-2.5 sm:text-[11px]
                max-[640px]:py-1 max-[640px]:px-2 max-[640px]:text-[10px]
                max-[400px]:py-0 max-[400px]:px-1.5 max-[400px]:text-[9px]
                max-[300px]:py-0 max-[300px]:px-1 max-[300px]:text-[8px]"></button>
                @if (loaderStatus) {
                  <div class="text-center card items-center justify-center">
                    <p-progressSpinner styleClass="w-[3rem] h-[4rem]" strokeWidth="6"
                      animationDuration="1s"></p-progressSpinner>
                  </div>
                }
              </div>
            }@else {
              <div class="card flex flex-row">
                <button pButton pRipple label="Send message" type="submit" [disabled]="contactForm.invalid" icon="pi pi-user" class="inline-block text-my-custom-dark bg-blue-400 mt-3 rounded-md hover:bg-blue-800 transition-colors duration-300 hover:text-zinc-300
                xl:py-3 xl:px-4 xl:text-base
                lg:py-2.5 lg:px-3.5 lg:text-sm
                md:py-2 md:px-3 md:text-xs
                sm:py-1.5 sm:px-2.5 sm:text-[11px]
                max-[640px]:py-1 max-[640px]:px-2 max-[640px]:text-[10px]
                max-[400px]:py-0 max-[400px]:px-1.5 max-[400px]:text-[9px]
                max-[300px]:py-0 max-[300px]:px-1 max-[300px]:text-[8px]"></button>
              </div>
            }
          </form>
        </div>
        <div class="flex-1">
          <img src="assets/ContactImage.webp" alt="Contact Image"
          class="
          xl:h-60 xl:w-60 xl:mt-8
          lg:h-55 lg:w-55 lg:mt-7
          md:h-50 md:w-50 md:mt-6
          sm:h-45 sm:w-45 sm:mt-5
          max-[640px]:mt-5
          min-[400px]:mt-4
          min-[300px]:mt-3">
        </div>
      </div>
    </div>
  </div>
</section>
