<section class="transition duration-300 ease-in-out delay-50 bg-my-custom-light text-my-custom-dark dark:bg-my-custom-dark dark:text-my-custom-light">
  <div class="title font-extrabold p-2
      xl:mx-28 xl:text-5xl
      lg:mx-24 lg:text-4xl
      md:mx-20 md:text-3xl
      sm:mx-16 sm:text-2xl
      max-[640px]:mx-14 max-[640px]:text-xl
      max-[400px]:mx-12 max-[400px]:text-lg
      max-[300px]:mx-11 max-[300px]:text-base">About me</div>
  <div class=""></div>
  <p class="title px-28 py-14
      xl:text-2xl xl:px-28
      lg:text-xl lg:px-24
      md:text-lg md:px-20
      sm:text-base sm:px-16
      max-[640px]:text-sm max-[640px]:px-14
      max-[400px]:text-xs max-[400px]:px-12
      max-[300px]:text-xs max-[300px]:px-11">
    Hello!, I'm Marcos Candanedo, i'm 23 years old and currently i'm senior student
    at Technologycal University of Panama.
    <br>
    I'm studying a Software Development Career, i'd like a lot of topics about technology
    from Network, Operative Systems until Programming. <br>
    The first time I used a computer was when I was 14 years old.
    I learned algorithms and arrays from scratch, it was so interesting.
    <br><br><b>This is my experience in this branch.</b>
  </p>
  <article class="mb-10
      xl:mx-52 xl:flex
      lg:mx-40 lg:flex
      md:mx-32 md:flex
      sm:mx-32 sm:flex
      max-[640px]:mx-32 max-[640px]:flex-row
      max-[540px]:mx-16 max-[540px]:flex-row
      max-[400px]:mx-12 max-[400px]:flex-row
      max-[300px]:mx-6 max-[300px]:flex-row">
    <section class="flex flex-col basis-1/2">
      <p class="flex justify-center title text-blue-500
      xl:text-3xl
      lg:text-2xl
      md:text-xl
      sm:text-lg
      max-[640px]:text-base
      max-[400px]:text-sm
      max-[300px]:text-xs">Education<i class="fa-solid fa-user-graduate ml-2"></i></p>
      @for (i of DataEducation; track $index) {
        <app-skillcards
        [date]="i.date"
        [title]="i.title"
        [description]="i.description" />
      }
    </section>

    <section class="flex flex-col basis-1/2">
      <p class="flex justify-center title text-blue-500
      xl:text-3xl
      lg:text-2xl
      md:text-xl
      sm:text-lg
      max-[640px]:text-base
      max-[400px]:text-sm
      max-[300px]:text-xs">Experience<i class="fa-solid fa-briefcase ml-2"></i></p>
      @for (i of DataExperience; track $index) {
        <app-skillcards
        [date]="i.date"
        [title]="i.title"
        [description]="i.description" />
      }
    </section>
  </article>
</section>
