<div class="xl:h-96
lg:h-[530px]
md:h-[580px]
sm:h-[480px]
max-[640px]:h-[400px]
max-[400px]:h-[570px]
max-[300px]:h-[650px]">
  <div class="grid gap-3 transition duration-300 ease-in-out delay-50 bg-my-custom-light dark:bg-my-custom-dark w-full items-stretch mt-24
xl:grid-cols-3 xl:h-80
lg:grid-cols-3 lg:h-80
md:grid-cols-2 md:h-40
sm:grid-cols-2 sm:h-40
max-[640px]:grid-cols-2 max-[640px]:h-20
max-[400px]:grid-cols-1 max-[400px]:h-20
max-[300px]:grid-cols-1 max-[300px]:h-20">
    <div class="transition duration-300 ease-in-out delay-50 bg-my-custom-light hover:bg-my-custom-dark dark:bg-my-custom-dark dark:hover:bg-my-custom-light
            text-my-custom-dark hover:text-my-custom-light dark:text-my-custom-light dark:hover:text-my-custom-dark
              rounded-2xl self-start my-5 animate-fade-left animate-once
              xl:mx-12 xl:h-80
              lg:mx-11 lg:h-80
              md:mx-10 md:h-60
              sm:mx-9 sm:h-60
              max-[640px]:mx-8 max-[640px]:h-40
              max-[400px]:mx-7 max-[400px]:h-40
              max-[300px]:mx-6 max-[300px]:h-40">
      <div class="
          xl:m-8
          lg:m-7
          md:m-6
          sm:m-5
          max-[640px]:m-4
          max-[400px]:m-3
          max-[300px]:m-2">
        <p class="title
          xl:text-5xl
          lg:text-4xl
          md:text-4xl
          sm:text-3xl
          max-[640px]:text-2xl
          max-[400px]:text-xl
          max-[300px]:text-lg">Marcos <br> Candanedo</p>
        <div class="flex items-center space-x-2">
        </div>

        <section class="w-full flex flex-wrap items-center justify-between mt-8">

          <a href="https://github.com/01candanedo" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-github" style="font-size: 1.5rem"></i>
            </div>
          </a>

          <a href="https://www.instagram.com/01candanedo/" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
            </div>
          </a>

          <a href="https://www.linkedin.com/in/01candanedo/" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            </div>
          </a>

          <a href="https://twitter.com/01candanedo" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
            </div>
          </a>

          <a href="https://www.youtube.com/@01candanedo" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-youtube" style="font-size: 1.5rem"></i>
            </div>
          </a> 

          <a href="https://wa.me/+50769193577" target="_blank">
            <div class="w-10 transition duration-300 ease-in-out delay-50 border-blue-500 px-2 py-2 rounded-lg text-blue-500 hover:bg-blue-500 hover:text-white">
              <i class="pi pi-whatsapp" style="font-size: 1.5rem"></i>
            </div>
          </a>

        </section>

      </div>
    </div>

    <div class="self-center rounded-2xl flex justify-center items-center animate-fade-up">
      <img src="assets/dev.webp" alt="Developer logo" class="rounded-xl
          xl:h-80 xl:w-44
          lg:h-72 lg:w-40
          md:h-64 md:w-36
          sm:h-64 sm:w-36
          max-[640px]:h-56 max-[640px]:w-28
          min-[400px]:h-44 min-[400px]:w-24
          min-[300px]:h-44 min-[300px]:w-24">
    </div>
    <div class="transition duration-300 ease-in-out delay-50 bg-my-custom-light hover:bg-my-custom-dark dark:bg-my-custom-dark dark:hover:bg-my-custom-light
  text-my-custom-dark hover:text-my-custom-light dark:text-my-custom-light dark:hover:text-my-custom-dark
    my-5 rounded-2xl self-start animate-fade-left animate-once
    xl:mx-12 xl:h-80 xl:col-span-1
    lg:mx-11 lg:h-80 ld:col-span-1
    md:mx-10 md:h-60 md:col-span-1
    sm:mx-9 sm:h-36 sm:col-span-2
    max-[640px]:mx-8 max-[640px]:h-36 max-[640px]:col-span-2
    max-[400px]:mx-7 max-[400px]:h-32 max-[400px]:col-span-1
    max-[300px]:mx-6 max-[300px]:h-40 max-[300px]:col-span-1">
      <div class="
          xl:m-7
          lg:m-6
          md:m-5
          sm:m-4
          max-[640px]:m-3
          max-[400px]:m-2
          max-[300px]:m-1">
        <p class="title
          xl:text-3xl
          lg:text-2xl
          md:text-xl
          sm:text-lg
          max-[640px]:text-base
          max-[400px]:text-sm
          max-[300px]:text-sm"><b>Fullstack Developer ⭐</b></p>
        <p class="
          xl:text-xl
          lg:text-lg
          md:text-base
          sm:text-sm
          max-[640px]:text-[12px]
          max-[400px]:text-[10px]
          max-[300px]:text-[8px]">
          I'm passionate about technology,
          I love creating solutions to problems
          through computational power. 🧑🏻‍💻
          I love branches like web, mobile and desktop development.
        </p>
      </div>
    </div>
  </div>
</div>