<section class="bg-my-shape-section-color text-my-custom-light">
  <div class="title font-extrabold p-2
      xl:mx-28 xl:text-5xl
      lg:mx-24 lg:text-4xl
      md:mx-20 md:text-3xl
      sm:mx-16 sm:text-2xl
      max-[640px]:mx-14 max-[640px]:text-xl
      max-[400px]:mx-12 max-[400px]:text-lg
      max-[300px]:mx-11 max-[300px]:text-base" >Skills</div>
  <div class=""></div>
  <p class="title py-14
          xl:text-2xl xl:py-14 xl:px-28
          lg:text-xl lg:py-12 lg:px-24
          md:text-lg md:py-11 md:px-20
          sm:text-base sm:py-10 sm:px-16
          max-[640px]:text-sm max-[640px]:py-9 max-[640px]:px-14
          max-[400px]:text-xs max-[400px]:py-8 max-[400px]:px-12
          max-[300px]:text-xs max-[300px]:py-7 max-[300px]:px-11">
    Here you will learn about my technical and soft skills,
    which are fundamental for my performance.
  </p>
  <article class="flex flex-col py-4
      xl:mx-28
      lg:mx-24
      md:mx-20
      sm:mx-16
      max-[640px]:mx-14
      max-[400px]:mx-12
      max-[300px]:mx-11">
    <section class="basis-1/2">
      <p class="flex justify-center title text-blue-500
      xl:text-3xl
      lg:text-2xl
      md:text-xl
      sm:text-lg
      max-[640px]:text-base
      max-[400px]:text-sm
      max-[300px]:text-xs">Technical Skills<i class="fa-solid fa-wrench ml-2"></i></p>
      <div class="flex flex-wrap gap-4 justify-center mt-2 mb-5
          xl:mx-32
          lg:mx-24
          md:mx-16
          sm:mx-0
          max-[640px]:m-0
          max-[400px]:m-0
          max-[300px]:m-0">
          @if (hardskillFetch$ | async; as hsf) {
            @for (i of hsf; track i.title) {
              <app-badges
              [image]="i.image"
              [title]="i.title"
              [percentage]="i.percentage"
              [gradient]="i.color"
              [mode]="'hard'"
              />
            }
          }@else {
            <app-errorpage/>
          }
      </div>
    </section>
    <div class="
          xl:h-20
          lg:h-16
          md:h-14
          sm:h-12
          max-[640px]:h-11
          max-[400px]:h-10
          max-[300px]:h-9"></div>
    <section class="basis-1/2">
      <p class="flex justify-center title text-blue-500
      xl:text-3xl
      lg:text-2xl
      md:text-xl
      sm:text-lg
      max-[640px]:text-base
      max-[400px]:text-sm
      max-[300px]:text-xs">Soft Skills<i class="fa-solid fa-handshake-angle ml-2"></i></p>
      <div class="flex flex-wrap gap-4 justify-center mt-2
          xl:mx-32 xl:mb-10
          lg:mx-24 lg:mb-10
          md:mx-16 md:mb-10
          sm:mx-0 sm:mb-16
          max-[640px]:mx-0 max-[640px]:mb-20
          max-[400px]:mx-0 max-[400px]:mb-28
          max-[300px]:mx-0 max-[300px]:mb-36">
          @if (softskillFetch$ | async; as fetchi) {
            @for (i of fetchi; track i.title) {
              <app-badges
              [image]="i.image"
              [title]="i.title"
              [percentage]="i.percentage"
              [gradient]="i.color"
              [mode]="'soft'"
              />
            }
          }@else {
            <app-errorpage/>
          }
      </div>
    </section>
  </article>
</section>
