body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin: auto;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 9;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: 2px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  border-radius: 15px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.image{
  position: relative;
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.image img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: opacity 0.6s ease;
}

.carousel .card {
  width: 85%;
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 15px;
  margin: auto 0;
  transition: background-color 0.6s ease;
  box-shadow: 8px 4px 35px rgba(0, 0, 0, 0.5);
}

.carousel .card .image{
  opacity: 0.7;
  transition: opacity 0.6s ease;
 }

.carousel .card:hover .image{
 opacity: 1;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  .wrapper i {
    visibility: hidden;
  }

  .wrapper i:first-child{
    left: 0px;
  }
  .wrapper i:last-child{
    right: 22px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 50%;
  }

  .wrapper i {
    visibility: hidden;
  }

  .wrapper i:first-child{
    left: 0px;
  }
  .wrapper i:last-child{
    right: 22px;
  }

}
@media screen and (max-width: 471px) {
  .wrapper .carousel {
    grid-auto-columns: 50%;
  }

  .wrapper i {
    top: 0;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .wrapper i:first-child{
    left: 0px;
  }
  .wrapper i:last-child{
    right: 22px;
  }

}
