<div class="bg-my-shape-section-color">
  <div class="title text-my-custom-light font-extrabold
      xl:mx-28 xl:text-5xl
      lg:mx-24 lg:text-4xl
      md:mx-20 md:text-3xl
      sm:mx-16 sm:text-2xl
      max-[640px]:mx-14 max-[640px]:text-xl
      max-[400px]:mx-12 max-[400px]:text-lg
      max-[300px]:mx-11 max-[300px]:text-base">Projects</div>
        <div class="wrapper">
          <i id="left" class="fa-solid fa-chevron-left"></i>
            <ul class="carousel
            xl:h-[500px]
            lg:h-[400px]
            md:h-96
            sm:h-80
            max-[640px]:h-80
            max-[400px]:h-80
            max-[300px]:h-80">
            @if (projectFetch$ | async; as pf) {
              @for (i of pf; track i.id) {
                <li class="card bg-my-custom-light
                xl:h-96
                lg:h-80
                md:h-72
                sm:h-64
                max-[640px]:h-60
                max-[400px]:h-56
                max-[300px]:h-52">
                  <div class="image"><img ngSrc="{{i.image}}" draggable="false" fill priority /></div>
                  <div class="w-full">
                    <div class="flex justify-between
                      xl:m-2
                      lg:m-1.5
                      md:m-1
                      sm:m-1
                      max-[640px]:m-1
                      max-[400px]:m-1
                      max-[300px]:m-1">
                      <div class="font-semibold
                      xl:text-xl
                      lg:text-lg
                      md:text-base
                      sm:text-sm
                      max-[640px]:text-[11px]
                      max-[400px]:text-[11px]
                      max-[300px]:text-[11px]">{{i.title}}</div>
                      <div class="font-extralight text-xs text-zinc-600
                      xl:text-xs
                      lg:text-[10px]
                      md:text-[8px]
                      sm:text-[8px]
                      max-[640px]:text-[8px]
                      max-[400px]:text-[8px]
                      max-[300px]:text-[8px]">{{i.origindate}}</div>
                    </div>
                  </div>
                  <div class="w-full overflow-auto h-28 font-extralight text-xs
                      xl:h-28
                      lg:h-24
                      md:h-20
                      sm:h-16
                      max-[640px]:h-14
                      max-[400px]:h-12
                      max-[300px]:h-11">
                    <div class="font-medium mb-2 mx-2
                      xl:text-base
                      lg:text-sm
                      md:text-xs
                      sm:text-[10px]
                      max-[640px]:text-[10px]
                      max-[400px]:text-[10px]
                      max-[300px]:text-[10px]">Description:</div>
                    <div class="m-2 text-zinc-600
                      xl:text-sm
                      lg:text-xs
                      md:text-[10px]
                      sm:text-[8px]
                      max-[640px]:text-[8px]
                      max-[400px]:text-[8px]
                      max-[300px]:text-[8px]">
                      <p>{{i.description}}</p>
                    </div>
                  </div>
                  <button class="flex transition duration-300 ease-in-out delay-50 bg-my-shape-section-color hover:bg-my-custom-dark text-white font-bold rounded m-auto
                      xl:px-12 xl:text-base xl:py-1.5 xl:mt-2
                      lg:px-10 lg:text-sm lg:py-1 lg:mt-1.5
                      md:px-8 md:text-xs md:py-0.5 md:mt-1
                      sm:px-6 sm:text-[10px] sm:py-0 sm:mt-1
                      max-[640px]:px-4 max-[640px]:text-[8px] max-[640px]:py-0 max-[640px]:mt-1
                      max-[400px]:px-2 max-[400px]:text-[8px] max-[400px]:py-0 max-[400px]:mt-1
                      max-[300px]:px-2 max-[300px]:text-[8px] max-[300px]:py-0 max-[300px]:mt-1">
                    See more
                  </button>
                </li>
              }
            }@else {
              <app-errorpage/>
            }
          </ul>
          <i id="right" class="fa-solid fa-chevron-right"></i>
        </div>
</div>
