@switch (typeshape) {
  @case ("up") {
      <svg xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-50 bg-my-shape-section-color fill-my-custom-light dark:fill-my-custom-dark" viewBox="0 55 1440 320"><path fill-opacity="1" d="M0,256L26.7,245.3C53.3,235,107,213,160,176C213.3,139,267,85,320,69.3C373.3,53,427,75,480,101.3C533.3,128,587,160,640,149.3C693.3,139,747,85,800,85.3C853.3,85,907,139,960,181.3C1013.3,224,1067,256,1120,240C1173.3,224,1227,160,1280,138.7C1333.3,117,1387,139,1413,149.3L1440,160L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z" stroke-width="0"></path></svg>
       }
  @case ("down") {
      <svg xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out bg-my-custom-light dark:bg-my-custom-dark delay-50 fill-my-shape-section-color dark:fill-my-shape-section-color" viewBox="0 55 1440 210"><path fill-opacity="1" d="M0,256L26.7,245.3C53.3,235,107,213,160,176C213.3,139,267,85,320,69.3C373.3,53,427,75,480,101.3C533.3,128,587,160,640,149.3C693.3,139,747,85,800,85.3C853.3,85,907,139,960,181.3C1013.3,224,1067,256,1120,240C1173.3,224,1227,160,1280,138.7C1333.3,117,1387,139,1413,149.3L1440,160L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z" stroke-width="0"></path></svg>
  }
}
