<div class="transition duration-300 ease-in-out delay-50 bg-my-shape-section-color h-full w-full
xl:py-20
lg:py-16
md:py-14
sm:py-12
max-[640px]:py-11
max-[400px]:py-10
max-[300px]:py-9">
  <div class="mx-auto text-center bg-my-custom-dark rounded-lg
xl:p-10 xl:max-w-80
lg:p-9 lg:max-w-72
md:p-8 md:max-w-64
sm:p-7 sm:max-w-60
max-[640px]:p-6 max-[640px]:max-w-56
max-[400px]:p-5 max-[400px]:max-w-52
max-[300px]:p-4 max-[300px]:max-w-48">
    <p class="text-orange-700 m-0
    xl:text-4xl
    lg:text-3xl
    md:text-2xl
    sm:text-xl
    max-[640px]:text-lg
    max-[400px]:text-base
    max-[300px]:text-sm">404</p>
    <p class="text-my-custom-light
    xl:text-lg xl:mx-2.5
    lg:text-base lg:mx-2
    md:text-sm md:mx-1.5
    sm:text-xs sm:mx-1
    max-[640px]:text-[11px] max-[640px]:mx-0
    max-[400px]:text-[10px] max-[400px]:mx-0
    max-[300px]:text-[9px] max-[300px]:mx-0">Oops! The content you are looking for might be in another castle.</p>
    <a class="inline-block text-my-custom-dark bg-blue-400 mt-3 font-medium rounded-md hover:bg-blue-800 transition-colors duration-300 hover:text-zinc-300
         xl:py-3 xl:px-4 xl:text-base
         lg:py-2.5 lg:px-3.5 lg:text-sm
         md:py-2 md:px-3 md:text-xs
         sm:py-1.5 sm:px-2.5 sm:text-[11px]
         max-[640px]:py-1 max-[640px]:px-2 max-[640px]:text-[10px]
         max-[400px]:py-0 max-[400px]:px-1.5 max-[400px]:text-[9px]
         max-[300px]:py-0 max-[300px]:px-1 max-[300px]:text-[8px]">Server is under maintenance</a>
  </div>
</div>
