<div class="min-h-[60rem] w-full flex flex-col
transition duration-300 ease-in-out delay-50
bg-my-custom-light dark:bg-my-custom-dark">
  <app-home id="Home"/>
  <app-shape-section [typeshape]="'up'"></app-shape-section>
  <app-projects id="Projects"/>
  <app-shape-section [typeshape]="'down'"></app-shape-section>
  <app-about id="About"/>
  <app-shape-section [typeshape]="'up'"></app-shape-section>
  <app-skills id="Skills"/>
  <app-shape-section [typeshape]="'down'"></app-shape-section>
  <app-contact id="Contact"></app-contact>
  <app-shape-section [typeshape]="'up'"></app-shape-section>
</div>
