@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --my-custom-dark: #0F1624;
    --my-custom-light: #d4d4d8;
    --my-shape-section-color: #272F3F;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; }

.title{
  font-family: 'Afacad', sans-serif;
}
